/*----About Us----*/
#about{
	padding-top:50px;
	padding-bottom:50px;
	color:#555;
}
#about h2::after{
	content:'';
	background:red;
	display:block;
	height:2px;
	width:130px;
}
#about .btn{
	margin-top:20px;
	margin-bottom:30px;
}
.about-content{
	padding-top:10px;
	text-align: justify;
    text-justify:auto;
	font-family: 'Open Sans', sans-serif;
}
.skills-bar p{
	margin-top:10px;
	margin-bottom:10px;
}
.progrss-bar{
	border-radius:16px;
}
.progrss{
	border-radius:16px!important;
	margin-bottom:20px;
}
/*-----indicator------*/
.breadcrumb{
	height:10%;
	margin-bottom:0!important;
}
.breadcrumb-item{
	padding-top:8px;
}
.breadcrumb-item a{
	color:black!important;
	text-decoration:none!important;
}
.breadcrumb-item a:hover{
	color:Red!important;
}